body{
    background-color: antiquewhite;
    height: 100vh;

}
h1{
    text-align: center;
}
#box{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
input{
    width: 30%;
    padding: 2px;
    display: flex;
}
#coeficientes{
    display: flex;
}
#res{
    padding: 5px;
}
#botao{
    display: grid;
    place-items: center;
}

    